<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&quot;Мы нуждаемся в доступе к вашей фотобиблиотеке, чтобы вы могли выбирать фотографии для рецептов.&quot;</string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>CFBundleSpokenName</key>
	<string></string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
